/* 基礎設定========================================================== */
/* 顏色、按鈕 */
:root{
    --mainColor1: #6f3381;
    --mainColor2: #33a6b8;
    --baseColor1: #333333;
    --baseColor2: #fffffb;
    --baseColor3: #ffe7ff;
}

.btn-mainColor1{
    background-color:var(--mainColor1);
    color: #ffffff;
    border-color: var(--mainColor1);
    transition: .3s;
}
.btn-mainColor1:focus,
.btn-mainColor1:hover{
    color: var(--mainColor1);
    background-color: transparent;
}
.btn-mainColor1.btn-outline{
    color: var(--mainColor1);
    background-color: transparent;
    border-color: var(--mainColor1);
}
.btn-mainColor1.btn-outline:focus,
.btn-mainColor1.btn-outline:hover{
    background-color:var(--mainColor1);
    color: #ffffff;
}
.btn-mainColor2{
    border-color: var(--mainColor2);
    background-color:var(--mainColor2);
    transition: .3s;
    color: #ffffff;
}
.btn-mainColor2:focus,
.btn-mainColor2:hover{
    background-color: transparent;
    color: var(--mainColor2);
}
.btn-mainColor2.btn-outline{
    color: var(--mainColor2);
    background-color: transparent;
    border-color: var(--mainColor2);
}
.btn-mainColor2.btn-outline:focus,
.btn-mainColor2.btn-outline:hover{
    background-color:var(--mainColor2);
    color: #ffffff;
}

.main-content,body,html {
    min-height: 100%
}

.nav-list>li .submenu>li>a:hover,
.nav-list>li>a,
a:active,
a:focus {
    text-decoration: none
}

body .vertical-offset-100 img {
    width: 100%;
} 

.main-container:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    max-width: inherit;
    bottom: 0;
    top: 0;
    background-color: #FFF
}

.main-content {
    margin-left: 0;
    padding: 0
}

.main-content:after,
.main-content:before {
    content: " ";
    display: table
}

.nav-list li.active>a:after,
.nav-list>li:before,
.nav-list>li>.submenu:before,
.nav-list>li>.submenu>li:before,
.sidebar .sidebar-toggle:before,
.sidebar.menu-min .nav-list>li>.submenu:after,
.sidebar:before,
li.divider:before {
    content: ""
}

.main-content:after {
    clear: both
}

.sidebar+.main-content {
    margin-left: 190px
}

.page-content {
    background-color: #FFF;
    position: relative;
    margin: 0;
    padding: 8px 20px 24px
}

.page-header {
    margin: 0 0 12px;
    border-bottom: 1px dotted #E2E2E2;
    padding-bottom: 16px;
    padding-top: 7px
}

.page-header h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color: #2679B5
}

.ace-icon {
    text-align: center
}

.light-blue {
    color: #93CBF9!important
}

.blue {
    color: blue
}

.red {
    color: red
}

.green {
    color: #69AA46!important
}

.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0
}

.header {
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCC
}

.header>.ace-icon {
    margin-right: 2px
}

.navbar {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-width: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 45px;
    background: #438EB9
}

.navbar .navbar-header img {
	height: 50px;
}

@media only screen and (min-width: 992px) {
    .navbar-container {
        padding-left:10px;
        padding-right: 10px
    }
}

.jhong-nav {
    height: 100%;
    margin: 0!important
}

.jhong-nav>li {
    line-height: 50px;
    height: 50px;
    border-left: 1px solid #E1E1E1;
    padding: 0;
    position: relative;
    float: left
}

.jhong-nav>li>a {
    background-color: #2E6589;
    color: #FFF;
    display: block;
    line-height: inherit;
    text-align: center;
    height: 100%;
    width: auto;
    min-width: 50px;
    padding: 0 8px;
    position: relative;
    font-size: 16px;
}

.jhong-nav>li.open>a,
.jhong-nav>li>a:focus,
.jhong-nav>li>a:hover {
    background-color: #2c5976;
    color: #FFF
}

.jhong-nav>li.green>a {
    background-color: #2E8965
}

.jhong-nav>li.green>a:focus,
.jhong-nav>li.green>a:hover,
.jhong-nav>li.open.green>a {
    background-color: #2c7659
}

.jhong-nav>li.light-blue>a {
    background-color: #62A8D1
}

.jhong-nav>li.light-blue>a:focus,
.jhong-nav>li.light-blue>a:hover,
.jhong-nav>li.open.light-blue>a {
    background-color: #579ec8
}

.jhong-nav>li .dropdown-menu {
    z-index: 1031
}

@media only screen and (max-height: 540px) {
    .jhong-nav>li.dropdown-modal>.dropdown-menu {
        position:fixed;
        margin-top: auto;
        z-index: 1052
    }

    .jhong-nav>li.dropdown-modal>.dropdown-menu:after,
    .jhong-nav>li.dropdown-modal>.dropdown-menu:before {
        display: none
    }

    .jhong-nav>li.dropdown-modal>.user-menu>li>a {
        padding-top: 6px;
        padding-bottom: 6px
    }

    .jhong-nav>li.dropdown-modal.open:before {
        background-color: #000;
        opacity: .5;
        border-width: 0;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
        display: block;
        height: 2000px;
        width: auto;
        z-index: 1051
    }
}

.user-menu>li>a {
    padding: 4px 12px
}

.navbar .navbar-toggle {
    border: 1px solid transparent;
    width: 40px;
    height: 35px;
    line-height: 0;
    padding: 0 0 1px;
    text-align: center
}

.navbar .navbar-toggle.pull-right {
    margin: 5px 6px 10px 5px; 
}

@media only screen and (min-width: 425px) {
    .navbar .navbar-toggle.pull-right {
        margin: 6px 6px 6px 6px
    }
}

.navbar .navbar-toggle.pull-left {
    margin: 5px 0 4px 6px
}

.navbar .navbar-toggle:active {
    top: 1px
}

.navbar .navbar-toggle .icon-bar {
    background-color: #FFF;
    border-radius: 0;
    width: 24px;
    margin-left: 7px
}

.dropdown-menu>li>a>.nav-icon {
    margin-right: 6px;
    font-size: 120%;
}


/**
 * 側邊功能欄
 */
.sidebar {
    width: 190px;
    float: left;
    position: static;
    padding-left: 0;
    padding-right: 0
}

.sidebar:before {
    display: block;
    width: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    border-style: inherit;
    border-color: inherit;
    border-width: inherit
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.nav-list .nav-header,
.nav-list>li,.nav-list>li>a {
    margin: 0
}

.nav-list li>a:focus {
    outline: 0
}

.nav-list>li {
    display: block;
    position: relative;
    float: none;
    padding: 0;
    border-style: solid;
    border-width: 1px 0 0
}

.nav-list>li>a {
    display: block;
    height: 45px;
    line-height: 17px;
    padding-left: 7px;
    text-shadow: none!important;
    font-size: 16px;
}

.nav-list>li>a>.menu-icon {
    display: inline-block;
    min-width: 30px;
    margin-right: 2px;
    vertical-align: sub;
    text-align: center;
    font-size: 18px;
}

.nav-list>li:hover:before {
    display: block;
}

.nav-list>li:before {
    display: none;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    height: 46px;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #629CC9
}

.nav-list>li a>.arrow {
    display: block;
    width: 14px!important;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 12px;
    padding: 0;
    text-align: center
}

.nav-list>li .submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    position: relative
}

.nav-list>li .submenu>li {
    margin-left: 0;
    position: relative
}

.nav-list>li .submenu>li>a {
    display: block;
    position: relative;
    padding: 7px 0 9px 37px;
    margin: 0;
    border-top-width: 1px;
    border-top-style: dotted;
    font-size: 14px;
}

.nav-list>li .submenu>li a>.menu-icon {
    display: none;
    font-size: 16px;
    width: 18px;
    height: auto;
    line-height: 16px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 11px;
    z-index: 1;
    background-color: inherit
}

.nav-list>li .submenu>li.active>a>.menu-icon,
.nav-list>li .submenu>li:hover>a>.menu-icon {
    display: inline-block
}

.nav-list>li>.submenu {
    border-top: 1px solid
}

.nav-list>li>.submenu>li:before {
    display: block;
    width: 7px;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 17px;
    border: 1px dotted;
    border-width: 1px 0 0
}

.nav-list>li>.submenu:before {
    display: block;
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 0;
    bottom: 0;
    border: 1px dotted;
    border-width: 0 0 0 1px
}

.nav-list li.active>a>.arrow,
.nav-list li.open>a>.arrow,
.nav-list li:hover>a>.arrow {
    color: inherit
}

.nav-list li.open>.submenu,
.nav-list>li .submenu.collapsing,
.nav-list>li>.submenu li.open>.submenu {
    display: block
}

.nav-list>li>.submenu li>.submenu {
    display: none
}

.nav-list>li>.submenu li.active>.submenu,
.nav-list>li>.submenu li>.submenu.collapsing {
    display: block
}

.nav-list>li>.submenu a>.arrow {
    right: 10px;
    top: 10px;
    font-size: 16px
}

.nav-list>li>.submenu li>.submenu>li {
    line-height: 18px
}

.nav-list>li>.submenu li>.submenu>li:before {
    display: none
}

.nav-list>li>.submenu li>.submenu>li>a {
    margin-left: 20px;
    padding-left: 22px
}

.nav-list>li>.submenu li>.submenu>li>.submenu>li>a {
    margin-left: 20px;
    padding-left: 38px
}

.nav-list>li>.submenu li>.submenu>li a>.menu-icon {
    display: inline-block;
    width: auto;
    position: static;
    background-color: transparent;
    margin-right: 4px;
    color: inherit
}

.nav-list>li>.submenu li>.submenu>li a .arrow,
.nav-list>li>.submenu li>.submenu>li a .menu-icon {
    color: inherit
}

.sidebar .sidebar-toggle {
    border-style: solid;
    border-width: 0 0 1px;
    text-align: center;
    padding: 3px 0;
    position: relative
}

.sidebar .sidebar-toggle>.ace-icon {
    padding: 0 5px;
    line-height: 21px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 100%;
    border: 1px solid;
    position: relative
}

.sidebar .sidebar-toggle:before {
    display: block;
    height: 0;
    border-top: 1px solid;
    border-color: inherit;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 13px
}

.nav-list li.active>a:after {
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    border: 8px solid transparent;
    border-width: 14px 10px
}

.nav-list li.open>a:after {
    display: none
}

.nav-list>li li.active>a:after {
    top: 2px;
    border-width: 14px 8px
}

.nav-list li.active:not(.open) li.active>a:after {
    display: none!important
}

@media only screen and (min-width: 992px) {
    .nav-list li.hover>.submenu {
        position:absolute;
        left: 100%;
        margin-left: -2px;
        top: -10px;
        bottom: auto;
        z-index: 1026;
        width: 190px;
        border: 1px solid;
        display: none!important;
        padding: 0 2px
    }

    .nav-list li.hover.hover-show>.submenu,.nav-list li.hover:hover>.submenu {
        display: block!important
    }

    .nav-list li.hover>.submenu:before,.nav-list li.hover>.submenu>li:before {
        display: none
    }

    .nav-list li.hover.active>a:after {
        display: block
    }

    .nav-list li.hover.active.hover-show>a.dropdown-toggle:after,
    .nav-list li.hover.active:hover>a.dropdown-toggle:after {
        display: none
    }

    .nav-list li.hover .submenu>li.active>a:after {
        display: none!important
    }

    .nav-list li.hover>.submenu.bottom {
        top: auto;
        bottom: -10px
    }

    .nav-list li.hover>.submenu.bottom:after,
    .nav-list li.hover>.submenu.bottom:before {
        top: auto;
        bottom: 18px
    }

    .nav-list li.hover>.submenu>li>a {
        margin-top: 2px;
        margin-bottom: 2px;
        padding-left: 18px;
        border-top-width: 0
    }

    .nav-list>li.hover>.submenu>li.active>a {
        font-weight: 700
    }

    .nav-list>li>.submenu li.hover>.submenu>li>a {
        padding-left: 12px!important;
        margin-left: auto!important
    }

    .nav-list>li>.submenu li.hover>.submenu>li>a>.menu-icon {
        margin-right: 2px
    }

    .nav-list>li .submenu>li.hover>a {
        padding-left: 22px
    }

    .nav-list>li .submenu>li.hover>a>.menu-icon {
        left: 4px
    }
}

.nav-list li>.arrow {
    display: none;
    position: absolute;
    top: 8px;
    right: 1px;
    z-index: 1027
}

.nav-list li>.arrow:after,
.nav-list li>.arrow:before {
    border: 1px solid transparent;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    left: -19px;
    top: 0;
    right: auto;
    bottom: auto;
    content: "";
    border-width: 10px
}

.nav-list li>.arrow:before {
    z-index: 1;
    left: -20px
}

.nav-list li>.arrow:after {
    z-index: 2
}

.nav-list li.hover-show>a+.arrow,.nav-list li:hover>a+.arrow {
    display: none
}

@media only screen and (min-width: 992px) {
    .nav-list li.hover.hover-show>a.dropdown-toggle+.arrow,.nav-list li.hover:hover>a.dropdown-toggle+.arrow {
        display:block
    }
}

.sidebar.menu-min,
.sidebar.menu-min.compact,
.sidebar.menu-min.navbar-collapse {
    width: 43px
}

.sidebar.menu-min+.main-content {
    margin-left: 43px
}

.sidebar.menu-min .nav-list>li>a {
    position: relative;
    height: 39px;
    line-height: 37px;
    padding: 0
}

.sidebar.menu-min .nav-list>li>a>.menu-icon {
    font-size: 18px;
    height: auto;
    line-height: inherit;
    display: inline-block;
    vertical-align: sub;
    margin-right: 0;
    width: 44px
}

.sidebar.menu-min .nav-list>li>a>.menu-text {
    display: none;
    text-align: left;
    position: absolute;
    top: -1px;
    left: 42px;
    z-index: 1025;
    width: 176px;
    height: 41px;
    line-height: 38px;
    padding-left: 12px;
    border: 1px solid
}

.sidebar.menu-min .nav-list>li>a.dropdown-toggle>.menu-text {
    top: -1px;
    border-width: 1px 1px 0
}

.sidebar.menu-min .nav-list>li>a .arrow {
    display: none
}

.sidebar.menu-min .nav-list>li.active.open>a:after,
.sidebar.menu-min .nav-list>li.hover-show>a>.menu-text,
.sidebar.menu-min .nav-list>li:hover>a>.menu-text {
    display: block
}

.sidebar.menu-min .nav-list>li.active>a:after {
    border-width: 10px 6px;
    top: 8px
}

.sidebar.menu-min .nav-list>li.active.open li.active>a:after {
    display: none
}

.sidebar.menu-min .nav-list>li>.submenu {
    position: absolute;
    z-index: 1026;
    left: 42px;
    top: -1px;
    margin-top: 40px;
    padding-bottom: 2px;
    width: 176px;
    display: none!important;
    height: auto!important;
    visibility: visible!important
}

.sidebar.menu-min .nav-list>li>.submenu:before {
    display: none
}

.sidebar.menu-min .nav-list>li>.submenu:after {
    display: block;
    height: 1px;
    width: 1px;
    position: absolute;
    right: -1px;
    top: -1px;
    border-right: 1px solid;
    border-right-color: inherit
}

.sidebar.menu-min .nav-list>li.open>.submenu,
.sidebar.menu-min .nav-list>li>.submenu li:before {
    display: none
}

.sidebar.menu-min .nav-list>li>.submenu li>a {
    margin-left: 0;
    padding-left: 22px
}

.sidebar.menu-min .nav-list>li>.submenu li>a>.menu-icon {
    left: 4px
}

.sidebar.menu-min .nav-list>li.hover>.submenu {
    padding-bottom: 0
}

.sidebar.menu-min .nav-list>li.hover-show>.submenu,
.sidebar.menu-min .nav-list>li:hover>.submenu {
    display: block!important
}

.sidebar.menu-min .nav-list>li.hover-show>.arrow,
.sidebar.menu-min .nav-list>li:hover>.arrow {
    display: block
}

.sidebar.menu-min .nav-list>li>.arrow {
    top: 10px
}

.sidebar.menu-min .nav-list>li>.arrow:after,.sidebar.menu-min .nav-list>li>.arrow:before {
    border-width: 8px;
    left: -16px
}

.sidebar.menu-min .nav-list>li>.arrow:before {
    left: -17px
}

.sidebar.menu-min .nav-list li>.arrow {
    right: -1px
}

.sidebar.menu-min .sidebar-toggle:before {
    left: 5px;
    right: 5px
}

.sidebar.menu-min .sidebar-toggle>.ace-icon {
    font-size: 13px;
    padding: 0 4px;
    line-height: 21px;
    border-width: 1px
}

.sidebar.menu-min .nav-list>li>.submenu li>.submenu>li>a {
    margin-left: 2px;
    padding-left: 30px
}

.sidebar.menu-min .nav-list>li>.submenu li>.submenu>li>.submenu>li>a {
    margin-left: 2px;
    padding-left: 45px
}

.sidebar.menu-min .nav-list li.active.open>.submenu>li.active>a:after,
.sidebar.menu-min .nav-list>li.active.hover-show>a:after,
.sidebar.menu-min .nav-list>li.active.open:hover>a:after,
.sidebar.menu-min .nav-list>li.active:hover:after,
.sidebar.menu-min .nav-list>li.active:hover>a:after,
.sidebar.menu-min .nav-list>li>.submenu li.active>a:after {
    display: none
}

@media (min-width: 992px) {
    .sidebar.menu-min .nav-list li.hover>.submenu {
        margin-left:0
    }

    .sidebar.menu-min .nav-list>li>.submenu li.hover>.submenu>li>a,
    .sidebar.menu-min .nav-list>li>.submenu li>.submenu>li.hover>.submenu>li>a {
        margin-left: 0!important
    }

    .sidebar.menu-min.compact .nav-list>li>a {
        height: 39px;
        line-height: 37px;
        padding: 0 16px 0 7px;
        position: relative
    }

    .sidebar.menu-min.compact .nav-list>li>a>.menu-icon {
        font-size: 18px;
        height: auto;
        line-height: inherit;
        display: inline-block;
        vertical-align: sub;
        width: auto
    }
}

.main-container .menu-toggler {
    display: none
}

@media only screen and (max-width: 991px) {
    .sidebar.responsive:before {
        display:none
    }

    .sidebar.responsive {
        -webkit-box-shadow: 2px 1px 2px 0 rgba(0,0,0,.15);
        box-shadow: 2px 1px 2px 0 rgba(0,0,0,.15);
        z-index: 1027;
        overflow: hidden;
        max-height: 0;
        -moz-transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        transform: translateX(-200px);
        -webkit-transition: -webkit-transform .2s linear 0s,max-height 0s linear .2s;
        -moz-transition: -moz-transform .2s linear 0s,max-height 0s linear .2s;
        -o-transition: -o-transform .2s linear 0s,max-height 0s linear .2s;
        transition: transform .2s linear 0s,max-height 0s linear .2s;
        position: relative;
        bottom: auto;
        left: 190px;
        margin-left: -190px
    }
}

@media only screen and (max-width: 991px) {
    .sidebar.responsive.menu-min {
        -moz-transform:translateX(-53px);
        -webkit-transform: translateX(-53px);
        -o-transform: translateX(-53px);
        -ms-transform: translateX(-53px);
        transform: translateX(-53px)
    }

    .sidebar.responsive.display {
        -moz-transform: none!important;
        -webkit-transform: none!important;
        -o-transform: none!important;
        -ms-transform: none!important;
        transform: none!important;
        overflow: visible;
        max-height: 2000px;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s
    }

    .sidebar.responsive.push_away {
        -webkit-box-shadow: none!important;
        box-shadow: none!important
    }

    .sidebar.responsive.push_away:before {
        display: block!important
    }

    .sidebar.responsive.push_away+.main-content {
        -webkit-transition: -webkit-transform .2s linear 0s;
        -moz-transition: -moz-transform .2s linear 0s;
        -o-transition: -o-transform .2s linear 0s;
        transition: transform .2s linear 0s
    }

    .sidebar.responsive.push_away.display+.main-content {
        -moz-transform: translateX(190px);
        -webkit-transform: translateX(190px);
        -o-transform: translateX(190px);
        -ms-transform: translateX(190px);
        transform: translateX(190px)
    }

    .sidebar.responsive.push_away.display.menu-min+.main-content {
        -moz-transform: translateX(43px);
        -webkit-transform: translateX(43px);
        -o-transform: translateX(43px);
        -ms-transform: translateX(43px);
        transform: translateX(43px)
    }

    .navbar.navbar-fixed-top+.main-container .sidebar.responsive.push_away:before {
        height: 5000px
    }

    .navbar.navbar-fixed-top+.main-container .sidebar.responsive.push_away~.footer .footer-inner {
        -webkit-transition: -webkit-transform .2s linear 0s;
        -moz-transition: -moz-transform .2s linear 0s;
        -o-transition: -o-transform .2s linear 0s;
        transition: transform .2s linear 0s
    }

    .navbar.navbar-fixed-top+.main-container .sidebar.responsive.push_away.display~.footer .footer-inner {
        -moz-transform: translateX(190px);
        -webkit-transform: translateX(190px);
        -o-transform: translateX(190px);
        -ms-transform: translateX(190px);
        transform: translateX(190px)
    }

    .navbar.navbar-fixed-top+.main-container .sidebar.responsive.push_away.display.menu-min~.footer .footer-inner {
        -moz-transform: translateX(43px);
        -webkit-transform: translateX(43px);
        -o-transform: translateX(43px);
        -ms-transform: translateX(43px);
        transform: translateX(43px)
    }

    .sidebar.responsive+.main-content {
        margin-left: 0!important;
        margin-right: 0!important
    }

    .responsive.sidebar-fixed {
        position: fixed
    }

    .main-container .menu-toggler.fixed {
        position: fixed;
        left: auto;
        z-index: 1026;
        -moz-backface-visibility: hidden
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .main-container.container .sidebar.responsive {
        -webkit-transition:none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
        display: none
    }

    .main-container.container .sidebar.responsive:before {
        display: none!important
    }

    .main-container.container .sidebar.responsive.display {
        display: block
    }

    .main-container.container .sidebar.responsive.push_away+.main-content,
    .main-container.container .sidebar.responsive.push_away~.footer .footer-inner {
        -webkit-transition: none!important;
        -moz-transition: none!important;
        -o-transition: none!important;
        transition: none!important;
        -moz-transform: none!important;
        -webkit-transform: none!important;
        -o-transform: none!important;
        -ms-transform: none!important;
        transform: none!important
    }
}

@media only screen and (max-width: 991px) {
    .menu-toggler+.sidebar.responsive {
        margin-top:40px
    }

    .main-container .menu-toggler {
        display: block;
        position: absolute;
        z-index: 1026;
        width: 52px;
        height: 32px;
        margin-right: 2px;
        line-height: normal;
        padding-left: 33px;
        padding-top: 7px;
        padding-bottom: 1px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box
    }

    .main-container .menu-toggler:after,.main-container .menu-toggler:before {
        content: "";
        height: 2px;
        width: 24px;
        left: 4px;
        position: absolute
    }

    .main-container .menu-toggler:hover {
        text-decoration: none
    }

    .main-container .menu-toggler:focus {
        outline: 0
    }

    .main-container .menu-toggler:before {
        border-top: 1px solid #87B87F;
        border-bottom: 1px solid #6FB3E0;
        z-index: 1;
        top: 13px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        -o-transition: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box
    }

    .main-container .menu-toggler:after {
        border-top: 1px solid #FFA24D;
        border-bottom: 1px solid #D15B47;
        top: 19px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        -o-transition: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box
    }

    .main-container .menu-toggler.display:before {
        height: 4px;
        top: 8px;
        border-width: 2px
    }

    .main-container .menu-toggler.display:after {
        height: 4px;
        top: 20px;
        border-width: 2px
    }

    .main-container .menu-toggler>.toggler-text {
        display: block;
        position: absolute;
        bottom: -9px;
        left: 0;
        border: 1px solid transparent;
        border-width: 9px 42px 0;
        border-top-color: #444
    }

    .main-container .menu-toggler>.toggler-text:after {
        display: block;
        content: "MENU";
        color: #FFF;
        position: absolute;
        left: -8px;
        top: -41px
    }

    .menu-toggler+.responsive.sidebar-scroll .nav-wrap {
        overflow: hidden
    }
}

@media only screen and (max-width: 320px) {
    .main-container .menu-toggler {
        width:0
    }

    .main-container .menu-toggler>.toggler-text {
        border-width: 7px 16px;
        bottom: -14px
    }

    .main-container .menu-toggler>.toggler-text:after {
        font-size: 9px;
        /*font-weight: 400;*/
        color: #FFF;
        position: absolute;
        left: -13px;
        top: -42px
    }

    .main-container .menu-toggler:after,
    .main-container .menu-toggler:before {
        margin-top: 8px
    }

    .main-container .menu-toggler.display:after,
    .main-container .menu-toggler.display:before {
        height: 2px;
        border-width: 1px
    }

    .main-container .menu-toggler.display:before {
        top: 13px
    }

    .main-container .menu-toggler.display:after {
        top: 19px
    }
}

.sidebar-toggle.sidebar-expand {
    display: none
}

@media (max-width: 991px) {
    .menu-toggler.invisible {
        position:fixed;
        z-index: -999;
        visibility: hidden;
        opacity: 0;
        width: 1px;
        height: 1px
    }

    .sidebar.responsive-min,.sidebar.responsive-min.compact,.sidebar.responsive-min.navbar-collapse {
        width: 43px
    }

    .sidebar.responsive-min .nav-list a .badge,.sidebar.responsive-min .nav-list a .label {
        position: relative;
        top: -1px;
        right: auto;
        left: 4px
    }

    .sidebar.responsive-min .nav-list .submenu .submenu a .badge,.sidebar.responsive-min .nav-list .submenu .submenu a .label {
        top: 0
    }

    .sidebar.responsive-min .nav-list>li>a {
        position: relative;
        height: 39px;
        line-height: 37px;
        padding: 0
    }

    .sidebar.responsive-min .nav-list>li>a>.menu-icon {
        font-size: 18px;
        height: auto;
        line-height: inherit;
        display: inline-block;
        vertical-align: sub;
        margin-right: 0;
        width: 44px
    }

    .sidebar.responsive-min .nav-list>li>a>.menu-text {
        display: none;
        text-align: left;
        position: absolute;
        top: -1px;
        left: 42px;
        z-index: 1025;
        width: 176px;
        height: 41px;
        line-height: 38px;
        padding-left: 12px;
        border: 1px solid
    }

    .sidebar.responsive-min .nav-list>li>a.dropdown-toggle>.menu-text {
        top: -1px;
        border-width: 1px 1px 0
    }

    .sidebar.responsive-min .nav-list>li>a .arrow {
        display: none
    }

    .sidebar.responsive-min .nav-list>li.active.open>a:after,
    .sidebar.responsive-min .nav-list>li.hover-show>a>.menu-text,
    .sidebar.responsive-min .nav-list>li:hover>a>.menu-text {
        display: block
    }

    .sidebar.responsive-min .nav-list>li.active>a:after {
        border-width: 10px 6px;
        top: 8px
    }

    .sidebar.responsive-min .nav-list>li.active.open li.active>a:after {
        display: none
    }

    .sidebar.responsive-min .nav-list>li>.submenu {
        position: absolute;
        z-index: 1026;
        left: 42px;
        top: -1px;
        margin-top: 40px;
        padding-bottom: 2px;
        width: 176px;
        display: none!important;
        height: auto!important;
        visibility: visible!important
    }

    .sidebar.responsive-min .nav-list>li>.submenu:before {
        display: none
    }

    .sidebar.responsive-min .nav-list>li>.submenu:after {
        content: "";
        display: block;
        height: 1px;
        width: 1px;
        position: absolute;
        right: -1px;
        top: -1px;
        border-right: 1px solid;
        border-right-color: inherit
    }

    .sidebar.responsive-min .nav-list>li.open>.submenu,.sidebar.responsive-min .nav-list>li>.submenu li:before {
        display: none
    }

    .sidebar.responsive-min .nav-list>li>.submenu li>a {
        margin-left: 0;
        padding-left: 22px
    }

    .sidebar.responsive-min .nav-list>li>.submenu li>a>.menu-icon {
        left: 4px
    }

    .sidebar.responsive-min .nav-list>li.hover>.submenu {
        padding-bottom: 0
    }

    .sidebar.responsive-min .nav-list>li.hover-show>.submenu,
    .sidebar.responsive-min .nav-list>li:hover>.submenu {
        display: block!important
    }

    .sidebar.responsive-min .nav-list>li.hover-show>.arrow,
    .sidebar.responsive-min .nav-list>li:hover>.arrow {
        display: block
    }

    .sidebar.responsive-min .nav-list>li>.arrow {
        top: 10px
    }

    .sidebar.responsive-min .nav-list>li>.arrow:after,.sidebar.responsive-min .nav-list>li>.arrow:before {
        border-width: 8px;
        left: -16px
    }

    .sidebar.responsive-min .nav-list>li>.arrow:before {
        left: -17px
    }

    .sidebar.responsive-min .sidebar-toggle:before {
        left: 5px;
        right: 5px
    }

    .sidebar.responsive-min .sidebar-toggle>.ace-icon {
        font-size: 13px;
        padding: 0 4px;
        line-height: 15px;
        border-width: 1px
    }

    .sidebar.responsive-min .nav-list>li>.submenu li>.submenu>li>a {
        margin-left: 2px;
        padding-left: 30px
    }

    .sidebar.responsive-min .nav-list>li>.submenu li>.submenu>li>.submenu>li>a {
        margin-left: 2px;
        padding-left: 45px
    }

    .sidebar.responsive-min .nav-list li.active.open>.submenu>li.active>a:after,
    .sidebar.responsive-min .nav-list>li.active.hover-show>a:after,
    .sidebar.responsive-min .nav-list>li.active.open:hover>a:after,
    .sidebar.responsive-min .nav-list>li.active:hover:after,
    .sidebar.responsive-min .nav-list>li.active:hover>a:after,
    .sidebar.responsive-min .nav-list>li>.submenu li.active>a:after {
        display: none
    }

    .sidebar.responsive-min:before {
        display: block
    }

    .sidebar.responsive-min .sidebar-toggle.sidebar-collapse {
        display: none
    }

    .sidebar.responsive-min .sidebar-toggle.sidebar-expand {
        display: block
    }

    .sidebar.responsive-min+.main-content {
        margin-left: 43px!important
    }

    .rtl .sidebar.responsive-min+.main-content {
        margin-left: auto!important;
        margin-right: 43px!important
    }

    .sidebar.responsive-min+.main-content .breadcrumb {
        margin-left: 12px
    }

    .sidebar.responsive-max {
        display: block;
        position: relative;
        left: 190px;
        margin-left: -190px;
        z-index: 1027;
        -webkit-box-shadow: 2px 1px 2px 0 rgba(0,0,0,.15);
        box-shadow: 2px 1px 2px 0 rgba(0,0,0,.15)
    }

    .sidebar.responsive-max .sidebar-toggle.sidebar-collapse,.sidebar.responsive-max:before {
        display: none
    }

    .sidebar.responsive-max .sidebar-toggle.sidebar-expand {
        display: block;
        z-index: 1
    }

    .sidebar.responsive-max+.main-content {
        margin-left: 43px!important
    }

    .sidebar.responsive-max+.main-content .breadcrumb {
        margin-left: 12px
    }
}

@media only screen and (min-width: 992px) {
    .sidebar.navbar-collapse {
        max-height:none
    }
}

@media only screen and (max-width: 991px) {
    .sidebar.navbar-collapse {
        position:relative;
        float: none!important;
        margin-top: auto!important;
        z-index: 1;
        width: 100%!important;
        max-height: 340px;
        margin-left: 0;
        margin-right: 0
    }

    .sidebar.navbar-collapse:before {
        display: none
    }

    .sidebar.navbar-collapse .nav-list>li:last-child {
        border-bottom-width: 0
    }

    .sidebar.navbar-collapse .nav-list>li>a {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
        line-height: 20px;
        height: 41px
    }

    .sidebar.navbar-collapse .nav-list>li:before {
        height: 43px
    }

    .sidebar.navbar-collapse li>.arrow {
        display: none!important
    }

    .sidebar.navbar-collapse .nav-wrap+.ace-scroll,.sidebar.navbar-collapse .sidebar-toggle {
        display: none
    }

    .sidebar.navbar-collapse .nav-list li>.submenu {
        border-left-width: 0
    }

    .sidebar.navbar-collapse+.main-content {
        margin-left: 0!important;
        margin-right: 0!important
    }

    .sidebar.navbar-collapse+.main-content .breadcrumb {
        margin-left: 12px
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu {
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        z-index: auto;
        margin-top: auto;
        padding-top: 0;
        padding-bottom: 0;
        border-width: 1px 0 0!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu:before,
    .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu>li:before {
        display: block
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu li>a>.menu-icon {
        left: 10px
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu:after {
        display: none
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu li>a {
        padding: 7px 0 9px 37px
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu li>.submenu>li>a {
        margin-left: 20px;
        padding-left: 22px
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu li>.submenu>li>.submenu>li>a {
        margin-left: 20px;
        padding-left: 38px
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>a:hover:before {
        width: 3px
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>a {
        text-align: left;
        padding-left: 7px
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>a>.menu-icon {
        display: inline-block;
        width: auto;
        margin-right: 2px
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>a>.menu-text {
        position: relative;
        display: inline;
        line-height: normal;
        padding-left: 0;
        height: auto;
        top: auto;
        left: auto;
        z-index: auto;
        width: auto;
        border-width: 0!important;
        background-color: transparent!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important
    }

    .sidebar.navbar-collapse.menu-min .nav-list a>.arrow {
        display: block
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li:hover>.submenu {
        display: none!important
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li.active>.submenu,
    .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu.nav-show {
        display: block!important
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu.nav-hide {
        display: none!important
    }

    .sidebar.navbar-collapse .nav-list a .badge,
    .sidebar.navbar-collapse .nav-list a .label {
        position: relative;
        top: -1px;
        right: auto;
        left: 4px
    }

    .sidebar.navbar-collapse .nav-list li.active>a:after,
    .sidebar.navbar-collapse .nav-list li.active>a:before,
    .sidebar.navbar-collapse .nav-list>li.active:after,
    .sidebar.navbar-collapse .nav-list>li.highlight.active>a:after,
    .sidebar.navbar-collapse .nav-list>li.highlight.active>a:before {
        display: none!important
    }
}

@media (max-width: 991px) and (max-height:400px) {
    .sidebar.navbar-collapse {
        max-height:300px
    }
}

@media (max-width: 991px) and (max-height:350px) {
    .sidebar.navbar-collapse {
        max-height:250px
    }
}

@media (max-width: 991px) and (max-height:300px) {
    .sidebar.navbar-collapse {
        max-height:200px
    }
}

@media (max-width: 991px) and (max-height:250px) {
    .sidebar.navbar-collapse {
        max-height:150px
    }
}

@media (min-width: 992px) and (max-width:991px) {
    .sidebar.navbar-collapse .nav-list>li>.submenu li.hover>.submenu>li>a,
    .sidebar.navbar-collapse .nav-list>li>.submenu li>.submenu>li.hover>.submenu>li>a {
        margin-left:20px!important
    }
}

.main-content-inner {
    float: left;
    width: 100%
}

.main-content .sidebar:before {
    top: 150px
}






.navbar .navbar-toggle {
    background-color: #75B3D7
}

.navbar .navbar-toggle:focus {
    background-color: #75B3D7;
    border-color: transparent
}

.navbar .navbar-toggle:hover {
    background-color: #61a8d1;
    border-color: rgba(255,255,255,.1)
}

.navbar .navbar-toggle.display,
.navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed) {
    background-color: #4d9dcc;
    box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,.25);
    border-color: rgba(255,255,255,.35)
}

.sidebar {
    background-color: #F2F2F2;
    border-style: solid;
    border-color: #CCC;
    border-width: 0 1px 0 0;
}

.nav-list .open>a,
.nav-list .open>a:focus,
.nav-list .open>a:hover {
    background-color: #FAFAFA
}

.nav-list>li {
    border-color: #E5E5E5
}

.nav-list>li>a {
    background-color: #F8F8F8;
    color: #585858
}

.nav-list>li>a:focus {
    background-color: #F8F8F8;
    color: #1963AA
}

.nav-list>li:hover>a {
    background-color: #FFF;
    color: #266cad
}

.nav-list>li.open>a {
    background-color: #FAFAFA;
    color: #1963AA
}

.nav-list>li.active>a {
	font-weight: 700;
    color: #2B7DBC;
}

.nav-list>li.active>a,
.nav-list>li.active>a:focus,
.nav-list>li.active>a:hover {
    background-color: #FFF
}

.nav-list>li .submenu {
    background-color: #FFF;
    border-color: #E5E5E5
}

.nav-list>li .submenu>li>a {
    border-top-color: #E4E4E4;
    background-color: #FFF;
    color: #616161
}

.nav-list>li .submenu>li>a:hover {
    color: #4B88B7;
    background-color: #F1F5F9
}

.nav-list>li .submenu>li.active>a {
    color: #2B7DBC
}

.nav-list>li .submenu>li.active>a>.menu-icon {
    color: #C86139
}

.nav-list>li .submenu>li.active.open>a>.menu-icon {
    color: inherit
}

@media only screen and (min-width: 992px) {
    .nav-list>li .submenu>li.active.hover>a.dropdown-toggle>.menu-icon {
        color:inherit
    }
}

.nav-list>li .submenu>li.active:not(.open)>a {
    background-color: #F5F7FA
}

.nav-list>li .submenu>li.active:not(.open)>a:hover {
    background-color: #F1F5F9
}

.nav-list>li>.submenu .open>a,
.nav-list>li>.submenu .open>a:focus,
.nav-list>li>.submenu .open>a:hover {
    border-color: #E4E4E4
}

.nav-list>li>.submenu li>.submenu>li a {
    color: #757575
}

.nav-list>li>.submenu li>.submenu>li a:hover {
    color: #4B88B7;
    background-color: #F1F5F9
}

.nav-list>li>.submenu li.open>a,
.nav-list>li>.submenu li>.submenu li.active>a,
.nav-list>li>.submenu li>.submenu li.open>a {
    color: #4B88B7
}

.nav-list>li>.submenu:before,
.nav-list>li>.submenu>li:before {
    border-color: #9dbdd6
}

.nav-list>li.active>.submenu:before,
.nav-list>li.active>.submenu>li:before {
    border-color: #8eb3d0
}

.sidebar-toggle {
    background-color: #F3F3F3;
    border-color: #E0E0E0
}

.sidebar-toggle>.ace-icon {
    border-color: #BBB;
    color: #AAA;
    background-color: #FFF
}

.nav-list li>.arrow:before {
    border-right-color: #B8B8B8;
    border-width: 10px 10px 10px 0;
    left: -10px
}

.nav-list li>.arrow:after {
    border-right-color: #FFF;
    border-width: 10px 10px 10px 0;
    left: -9px
}

.nav-list>li.pull_up>.arrow:after {
    border-right-color: #FFF!important
}

.nav-list li.active>a:after {
    border-right-color: #2B7DBC
}

.nav-list>li.active:after {
    display: block;
    content: "";
    position: absolute;
    right: -2px;
    top: -1px;
    bottom: 0;
    z-index: 1;
    border: 2px solid #2B7DBC;
    border-width: 0 2px 0 0
}

.sidebar-scroll .nav-list>li.active:after {
    right: 0
}

.sidebar.menu-min .nav-list>li>a>.menu-text {
    background-color: #F5F5F5;
    -webkit-box-shadow: 2px 1px 2px 0 rgba(0,0,0,.1);
    box-shadow: 2px 1px 2px 0 rgba(0,0,0,.1);
    border-color: #CCC
}

.sidebar.menu-min .nav-list>li>a.dropdown-toggle>.menu-text {
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1)
}

.sidebar.menu-min .nav-list>li.active>.submenu {
    border-left-color: #83B6D1
}

.sidebar.menu-min .nav-list>li>.submenu {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-top-color: #e6e6e6;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1)
}

.sidebar.menu-min .nav-list>li>.arrow:after {
    border-right-color: #F5F5F5;
    border-width: 8px 8px 8px 0;
    left: -8px
}

.sidebar.menu-min .nav-list>li>.arrow:before {
    border-width: 8px 8px 8px 0;
    left: -9px
}

.sidebar.menu-min .nav-list>li.active>.arrow:before {
    border-right-color: #5a9ec2
}

.sidebar.menu-min .nav-list>li.active>a>.menu-text {
    border-left-color: #83B6D1
}

.sidebar.menu-min .sidebar-toggle>.ace-icon {
    border-color: #b1b1b1
}

@media (max-width: 991px) {
    .sidebar.responsive-min .nav-list>li>a>.menu-text {
        background-color:#F5F5F5;
        -webkit-box-shadow: 2px 1px 2px 0 rgba(0,0,0,.1);
        box-shadow: 2px 1px 2px 0 rgba(0,0,0,.1);
        border-color: #CCC
    }

    .sidebar.responsive-min .nav-list>li>a.dropdown-toggle>.menu-text {
        -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1)
    }

    .sidebar.responsive-min .nav-list>li.active>.submenu {
        border-left-color: #83B6D1
    }

    .sidebar.responsive-min .nav-list>li>.submenu {
        background-color: #FFF;
        border: 1px solid #CCC;
        border-top-color: #e6e6e6;
        -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1)
    }

    .sidebar.responsive-min .nav-list>li>.arrow:after {
        border-right-color: #F5F5F5;
        border-width: 8px 8px 8px 0;
        left: -8px
    }

    .sidebar.responsive-min .nav-list>li>.arrow:before {
        border-width: 8px 8px 8px 0;
        left: -9px
    }

    .sidebar.responsive-min .nav-list>li.active>.arrow:before {
        border-right-color: #5a9ec2
    }

    .sidebar.responsive-min .nav-list>li.active>a>.menu-text {
        border-left-color: #83B6D1
    }

    .sidebar.responsive-min .sidebar-toggle>.ace-icon {
        border-color: #b1b1b1
    }
}

@media only screen and (min-width: 992px) {
    .nav-list li.hover>.submenu {
        -webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);
        box-shadow: 2px 1px 2px 0 rgba(0,0,0,.1);
        border-color: #CCC
    }

    .nav-list li.hover>.submenu>li.active>a {
        background-color: #F5F5F5
    }

    .nav-list li.hover>.submenu>li:hover>a {
        background-color: #EEF3F7;
        color: #2E7DB4
    }
}

@media only screen and (min-width: 992px) and (max-width:991px) {
    .sidebar.navbar-collapse .nav-list li li.hover.active.open>a,
    .sidebar.navbar-collapse .nav-list li li.hover:hover>a {
        background-color:#FFF
    }

    .sidebar.navbar-collapse .nav-list li li.hover.open.active>a:hover,
    .sidebar.navbar-collapse .nav-list li li.hover.open>a:hover,
    .sidebar.navbar-collapse .nav-list li li.hover>a:hover {
        background-color: #F1F5F9
    }

    .sidebar.navbar-collapse .nav-list>li .submenu>li.active.hover>a.dropdown-toggle>.menu-icon {
        color: #C86139
    }

    .sidebar.navbar-collapse .nav-list>li .submenu>li.active.open.hover>a.dropdown-toggle>.menu-icon {
        color: inherit
    }
}

@media only screen and (min-width: 992px) {
    .sidebar.navbar-collapse .nav-list>li.open.hover:not(:hover):not(:focus):not(.active)>a {
        color:#585858
    }

    .sidebar.navbar-collapse .nav-list>li.open.hover:not(:hover):not(:focus):not(.active)>a>.arrow {
        color: inherit
    }

    .sidebar.navbar-collapse .nav-list>li.open.hover:hover>a {
        background-color: #FFF
    }

    .sidebar.navbar-collapse .nav-list>li>.submenu li.open.hover:not(:hover):not(:focus):not(.active)>a {
        color: #616161
    }

    .sidebar.navbar-collapse .nav-list>li>.submenu li.open.hover:not(:hover):not(:focus):not(.active)>a>.arrow {
        color: inherit
    }
}

@media only screen and (min-width: 992px) and (max-width:991px) {
    .sidebar.navbar-collapse .nav-list li.hover>.submenu {
        border-top-color:#E5E5E5;
        background-color: #FFF
    }

    .nav-list li.hover>.submenu>li.active:not(.open)>a {
        background-color: #F5F7FA
    }

    .nav-list li.hover>.submenu>li.active:not(.open)>a:hover {
        background-color: #F1F5F9
    }
}

@media only screen and (max-width: 991px) {
    body {
        overflow-x:hidden
    }

    .sidebar.responsive .nav-list>li.active.open>a:after,
    .sidebar.responsive-max .nav-list>li.active.open>a:after {
        display: block
    }

    .sidebar.responsive .nav-list li li.active>a:after,
    .sidebar.responsive-max .nav-list li li.active>a:after {
        display: none
    }

    .sidebar.responsive .nav-list>li.active:after,
    .sidebar.responsive-max .nav-list>li.active:after {
        height: 41px
    }

    .sidebar {
        border-width: 0 1px 1px 0;
        border-top-color: #d6d6d6
    }

    .menu-toggler+.sidebar.responsive {
        border-top-width: 1px
    }

    .sidebar.responsive-min {
        border-width: 0 1px 0 0
    }

    .sidebar.navbar-collapse {
        border-width: 0;
        border-bottom-width: 1px!important;
        border-bottom-color: #CCC;
        -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1)!important;
        box-shadow: 0 2px 2px rgba(0,0,0,.1)!important
    }

    .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu {
        background-color: #FFF
    }
}

.main-container .menu-toggler {
    background-color: #444
}

.main-container .menu-toggler:before {
    border-top-color: #87B87F;
    border-bottom-color: #6FB3E0
}

.main-container .menu-toggler:after {
    border-top-color: #FFA24D;
    border-bottom-color: #D15B47
}

.main-container .menu-toggler>.toggler-text {
    border-top-color: #444
}

.nav-list>li.disabled:before {
    display: none!important
}

.nav-list>li.disabled>a {
    background-color: #ebebeb!important;
    color: #656565!important
}

.nav-list li .submenu>li.disabled>a,
.nav-list li.disabled .submenu>li>a {
    background-color: #f2f2f2!important;
    color: #7a7a7a!important;
    cursor: not-allowed!important
}


/**
 * 頁尾
 */
.footer {
    padding-top: 75px;
    height: 0;
    /*width: 0;*/
    width: 100%;
    position: relative;
}

.footer .footer-inner {
    text-align: center;
    position: absolute;
    z-index: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar~.footer .footer-inner {
    left: 190px
}

@media (min-width: 992px) {
    .sidebar.compact~.footer .footer-inner {
        left:105px
    }
}

.sidebar.menu-min~.footer .footer-inner {
    left: 43px
}

@media (min-width: 992px) {
    .sidebar.h-sidebar~.footer .footer-inner {
        left:0
    }
}

@media (max-width: 991px) {
    .footer .footer-inner,.sidebar.compact~.footer .footer-inner,.sidebar.menu-min~.footer .footer-inner,.sidebar~.footer .footer-inner {
        left:0
    }

    .sidebar.responsive-min~.footer .footer-inner {
        left: 43px
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .container.main-container .footer .footer-inner {
        left:auto!important;
        right: auto!important;
        margin-left: auto;
        width: 744px
    }
}

@media (min-width: 992px) {
    .container.main-container .footer .footer-inner {
        left:auto!important;
        right: auto!important;
        width: 964px
    }
}

@media (min-width: 1200px) {
    .container.main-container .footer .footer-inner {
        width:1164px
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .container.main-container .sidebar~.footer .footer-inner {
        left:auto!important;
        right: auto!important;
        margin-left: auto;
        width: 744px
    }
}

@media (min-width: 992px) {
    .container.main-container .sidebar~.footer .footer-inner {
        left:auto!important;
        right: auto!important;
        margin-left: 190px;
        width: 774px
    }
}

@media (min-width: 1200px) {
    .container.main-container .sidebar~.footer .footer-inner {
        margin-left:190px;
        width: 974px
    }
}

@media (min-width: 992px) {
    .container.main-container .sidebar.compact~.footer .footer-inner {
        margin-left:105px;
        width: 859px
    }
}

@media (min-width: 1200px) {
    .container.main-container .sidebar.compact~.footer .footer-inner {
        margin-left:105px;
        width: 1059px
    }
}

@media (min-width: 992px) {
    .container.main-container .sidebar.menu-min~.footer .footer-inner {
        margin-left:43px;
        width: 921px
    }
}

@media (min-width: 1200px) {
    .container.main-container .sidebar.menu-min~.footer .footer-inner {
        margin-left:43px;
        width: 1121px
    }
}

@media (min-width: 992px) {
    .container.main-container .sidebar.h-sidebar~.footer .footer-inner {
        margin-left:0;
        width: 964px
    }
}

@media (min-width: 1200px) {
    .container.main-container .sidebar.h-sidebar~.footer .footer-inner {
        margin-left:0;
        width: 1164px
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .container.main-container .sidebar.responsive-min~.footer .footer-inner {
        margin-left:43px;
        width: 701px
    }
}

.footer .footer-inner .footer-content {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 4px;
    padding: 8px;
    line-height: 36px;
    border-top: 3px double #E5E5E5
}

.footer.footer-fixed .footer-inner {
    position: fixed;
    z-index: 999;
    bottom: 0
}

.footer.footer-fixed .footer-inner .footer-content {
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 1px solid #DDD;
    background-color: #F2F2F2
}


/**
 * 頁面元件
 */
.input-wrapper {
    margin: 20px 0;
}

.input-wrapper span {
    margin: 0px 10px;
}

fieldset {
    margin: 1.5em 0 0 0em;
    padding: 5;
    border: 1px solid #CCC;
}

.label-text {
    float: left;
    width: 10em;
    margin-right: 1em;
}

fieldset ol {
    list-style: none;
    padding-top: 3px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3px;
}

fieldset li {
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-shadow {
    border: 10px solid #fff;
    box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
    max-height: 200px;
}

.form-check-input {
    vertical-align: sub;
    margin-right: 5px;
}

.tab-content i,
.modal-open .modal i {
    vertical-align: inherit;
    margin-right: 5px;
}

.float-right {
    float: right;
}

.col-xs-12.page {
    text-align: center;
}

.quickLink {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
}

.highestAuthorityNote {
    width: 100%;
    display: block;
    position: relative;
    color: #aaaaaa;
}

.btn-mainColor1 {
    background-color: var(--mainColor1);
    color: #ffffff;
    border-color: var(--mainColor1);
    transition: .3s;
}

.btn-mainColor1.btn-outline {
    color: var(--mainColor1);
    background-color: transparent;
    border-color: var(--mainColor1);
}

select.form-control.on,
select.form-control option.on {
    color: #28a745;
}
select.form-control.off,
select.form-control option.off {
    color: #dc3545;
}

@media (max-width: 425px) {
    thead {
        display: none;
    }
    td {
        display: block;
        padding: .3rem .5rem;
    }
    td:before {
        content: attr(data-title);
        display: inline-block;
        width: auto;
        min-width: 20%;
        font-weight: 900;
        padding-right: 1rem;
    }
}


#clickHere input {
    position: absolute;
    cursor: pointer;
    top: 8px;
    opacity:0;
}
/*If you dont want the button*/
 #clickHere {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 17px;
    width: 150px;
    border-radius: 4px;
    background-color: #4679BD;
    padding: 10px;
}
#clickHere:hover {
    background-color: #376199;
}
.closeBtn:hover {
    color:red;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}
