@charset "utf-8";
/* CSS Document */
html, body{
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Arial', 'Noto Sans TC', '微軟正黑體', sans-serif;
}


a{	color: inherit;}
a:focus,a:hover{ text-decoration: none;color:#006300;}
.c-006300{color:#006300;}
.bg-006300{background-color:#006300;}
.btn-006300r{
	display: inline-block;
	padding: 0 12px;
	border-radius: 999px;
	border: 1px solid #006300;
	color: #006300;
	transition: .3s .03s;
}
.btn-006300r:focus,
.btn-006300r:hover{
	background-color: #006300;
	color: #ffffff;
}
.btn-006300{
	display: inline-block;
	padding: 0 12px;
	border: 1px solid #006300;
	color: #006300;
	transition: .3s .03s;
}
.btn-006300:focus,
.btn-006300:hover{
	background-color: #006300;
	color: #ffffff;
}






/* wrap&footer=================================================== */
.wrap{
	width: 100%;
	min-height: 100%;
	display: block;
	position: relative;
}
.footer{
	width: 100%;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}
.footer .copyright{
	width: 100%;
	display: block;
	position: relative;
	padding: 5px 0;
	background-color: #006300;
	color: #ffffff;
}
@media screen and (max-width:768px){
	.footer .copyright{
		font-size: 14px;
		line-height: 20px;
	}
}
.footer .copyright a{
	color: #ffffff;
	transition: .3s .03s;
}
.footer .copyright a:focus,
.footer .copyright a:hover{
	color: #ff9c00;
}
.footer .info{
	width: 100%;
	display: block;
	position: relative;
	padding: 15px 0;
	background-color: #f5f5f5;
}
.footer .info-item{
	display: inline-block;
	transition: .3s .03s;
}
.footer .info-item a{
	transition: .3s .03s;
}
.footer .info-item:focus a,
.footer .info-item:hover a{
	color: #006300;
}
.footer .info-item:focus,
.footer .info-item:hover{
	color: #006300;
}
.footer .info h4{
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.info-item-block{
	text-align: right;
}
@media screen and (max-width:1200px){
	.info-item-block{
		text-align: left;
	}
}












/* header&banner================================================== */
.header{
	width: 100%;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 50;
}
.dropdown-toggle::after{
	display: none;
}
.language:focus,
.language:hover{
	color: #ff9c00;
}
.header .navbar .navbar-nav .nav-item .nav-link{
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
.header .navbar .navbar-nav .nav-item:focus .nav-link,
.header .navbar .navbar-nav .nav-item:hover .nav-link{
	color: #006300;
}
.header .navbar .navbar-nav .nav-item .nav-link .btn-006300r{
	font-weight: normal;
}
@media (min-width: 1200px) {
	.header .navbar .navbar-nav .nav-item .dropdown-menu{
		margin-top: -2px;
	}
	.header .navbar .navbar-nav .nav-item:hover .dropdown-menu{
		display: block;
	}
}
.banner{
	width: 100%;
	display: block;
	border-top: 2px solid #006300;
	border-bottom: 2px solid #006300;
	/* margin-bottom: 20px; */
}
.header .navbar .navbar-nav .dropdown-menu .dropdown-item{
	transition: .3s .03s;
}
.header .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.header .navbar .navbar-nav .dropdown-menu .dropdown-item:hover{
	color: #ff9c00;
	background-color: #f5f5f5;
}
@media (min-width: 1200px) {
	.header .navbar{
		padding: 0;
	}
}
.header .navbar-brand{
	max-width: calc(100% - 80px);
}
.header .navbar-brand>img{
	max-width: 100%;
}
.banner>img{
	width: 100%;
}










/* content========================================================= */
content{
	width: 100%;
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
}
.btn-goTop{
	width: 40px;
	height: 40px;
	display: none;
	position: fixed;
	right: 10px;
	bottom: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 34px;
	font-size: 20px;
	color: #ffffff;
	background-color: #006300;
	border: 3px solid #ffffff;
	opacity: .7;
}
.btn-goTop:focus,
.btn-goTop:hover{
	opacity: 1;
	color: #ffffff;
}
/* @media screen and (max-width:768px){
	.btn-goTop{
		width: 30px;
		height: 30px;
		right: 5px;
		bottom: 20px;
		line-height: 26px;
		font-size: 16px;
		border: 2px solid #ffffff;
	}
} */

.title{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 20px;
}
.title .breadcrumb{
	padding: 0;
	font-size: 14px;
	color: #cccccc;
	background-color: transparent;
}
.title .breadcrumb-item+.breadcrumb-item::before{
	color: #cccccc;
}
.title h2{
	width: 100%;
	display: block;
	position: relative;
	font-size: 24px;
	text-align: center;
}
.title h2:before{
	content: '';
	width: 100%;
	height: 2px;
	display: block;
	background-color: #ff9c00;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}
.title h2>strong{
	display: inline-block;
	padding: 0 15px;
	background-color: #ffffff;
}
.title h3{
	width: 100%;
	display: block;
	position: relative;
	font-size: 20px;
	text-align: center;
	color: #006300;
	font-weight: bold;
}







/* index======================================================== */
.index-product-item{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 20px;
}
.index-product-item>img{
	width: 100%;
	display: block;
	position: relative;
}
.index-product-item>.IPtitle{
	width: 100%;
	min-height: 40px;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, .5);
	transition: .3s .03s;
}
.index-product-item>.IPtitle>span{
	width: 100%;
	padding: 5px;
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	position: relative;
	transition: .3s .03s;
}
.index-product-item:focus>.IPtitle,
.index-product-item:hover>.IPtitle{
	height: 100%;
	background-color: rgba(0, 99, 0, .5);
}
.index-product-item:focus>.IPtitle>span,
.index-product-item:hover>.IPtitle>span{
	color: #ffffff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


















/* history====================================================== */
.history{
	width: 100%;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
.history .history-item{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 15px;
	padding-left: 180px;
}
.history .history-item .date{
	width: 160px;
	display: inline-block;
	border-radius: 999px;
	border: 3px solid #006300;
	color: #006300;
	font-weight: bold;
	text-align: center;
	position: absolute;
	left: 0;
}
.history .history-item .text{
	display: inline-block;
	padding: 3px 0;
}
@media screen and (max-width:990px){
	.history .history-item{
		padding-left: 140px;
	}
	.history .history-item .date{
		width: 120px;
	}
}
















/* contact===================================================== */
.company-title{
	width: 100%;
	display: block;
	padding: 10px 0;
	margin: 0 0 10px;
	border-bottom: 1px solid #006300;
}
.company-title>img{
	max-height: 60px;
	max-width: 100%;
}
.map{
	width: 100%;
	display: block;
	position: relative;
	margin: 20px 0;
	padding: 0;
}
.map>iframe{
	width: 100%;
	height: 200px;
	border: 0;
	display: block;
}












/* product====================================================== */
.product-item>td:first-child{
	width: 20px;
	text-align: center;
	vertical-align: middle;
	/* outline: 1px solid #f00; */
}
.product-item>td:last-child{
	width: 20px;
	text-align: center;
	vertical-align: middle;
	/* outline: 1px solid #ff0; */
}
.product-item>td:nth-child(2){
	/* width: 50%; */
	/* outline: 1px solid #0f0; */
}
.product-item>td:nth-child(3){
	/* width: 50%; */
	/* outline: 1px solid #00f; */
}
.product-item .p-icon{
	width: 15px;
	height: 15px;
	display: inline-block;
	position: relative;
	background-color: #006300;
	top: 0;
	bottom: 0;
	margin: auto 0;
}















@media screen and (max-width:990px){


}
@media screen and (max-width:768px){


}
@media screen and (max-width:380px){



}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}